<h1>Home</h1>
<%= render 'welcome' %>

<h4>Todos os posts</h4><table>
 <tr>
  <th><%= t("activerecord.attributes.post.title") %></th>
  <th><%= t("activerecord.attributes.post.body") %></th>
  <th><%= t("activerecord.attributes.post.date") %></th>
  <th><%= t("activerecord.attributes.post.author") %></th>
 </tr>
 <% if @posts.any? %>
   <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title.truncate(30), post_path(post) %></td>
      <td><%= post.description.truncate(100) %></td>
      <td><%= l post.created_at, format: :long %></td>
      <td><%= post.user.email %></td>
    </tr>
   <% end %>
 <% else %>
    <p>Você ainda não criou nenhum post.</p>
 <% end %>
</table>

<%= build_pagination @posts %>  <!-- helper created -->