<h1>Home</h1>
<%= render 'welcome' %>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Quantidade de posts publicados:
    <span class="badge bg-success badge-pill"><%= Post.count %></span>
  </li>
  <% unless user_signed_in? %>
  <li class="list-group-item d-flex justify-content-between align-items-center bg-info text-dark"">
    Para criar ou editar um post, por favor, crie uma conta ou efetue o login no menu acima.
  </li>
  <% end %>
</ul>

<table class="table table-striped">
  <thead>
    <th><%= t("activerecord.attributes.post.title") %></th>
    <th><%= t("activerecord.attributes.post.body") %></th>
    <th><%= t("activerecord.attributes.post.date") %></th>
    <th><%= t("activerecord.attributes.post.author") %></th>
  </thead>
 <% if @posts.any? %>
   <% @posts.each do |post| %>
    <%= render 'posts/post', post: post %>
   <% end %>
 <% else %>
    <p>Você ainda não criou nenhum post.</p>
 <% end %>
</table>

<%= build_pagination @posts %>  <!-- helper created -->