<%= form_with model: @tag do |f| %>
<div class="card">
  <div class="card-body">
  <%= @tag.errors.full_messages.first if @tag.errors.any? %>  
    <div class="col-lg-5 mb-3">
      <%= link_to new_tag_path  do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>

    <div class="col-lg-5 mb-3">
      <%= f.label :name, { class: "form-label"} %>
      <%= f.text_field :name, { class: "form-control" } %>
    </div> 

    <div class="col-lg-5 mb-3">
      <%= f.submit "Enviar", class: "btn btn-secondary" %>  <%= link_to 'Cancelar', tags_path, class: 'btn btn-danger' %>  
    </div>           
  </div>
</div>
<% end %>