<%= form_with model: @post do |f| %>
<div class="card">
  <div class="card-body">
  <%= @post.errors.full_messages.first if @post.errors.any? %>  
    <div class="col-lg-5 mb-3">
      <%= link_to new_post_path  do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>

    <div class="col-lg-5 mb-3">
      <%= f.label :title, { class: "form-label"} %>
      <%= f.text_field :title, { class: "form-control" } %>
    </div> 

    <div class="col-lg-5 mb-3">
      <%= f.label :Descrição, { class: "form-label"} %>
      <%= f.text_area :description, { class: "form-control" } %>
    </div>

     <div class="col-lg-5 mb-3">
      <%= f.label :Imagem, { class: "form-label"} %>
      <%= f.file_field :image, { class: "form-control" } %>
    </div>    

    <div class="col-lg-5 mb-3">
      <%= f.label :tag, { class: "form-label"} %>
      <%= f.text_field :tags, value: @post.tags.map(&:name).join(","), placeholder: "Ex: Games, Jogos, Entretenimento...", class: "form-control" %>
    </div> 

    <div class="col-lg-5 mb-3">
      <%= f.submit "Enviar", class: "btn btn-secondary" %>  <%= link_to 'Cancelar', posts_path, class: 'btn btn-danger' %>  
    </div>           
  </div>
</div>
<% end %>