<div class="container">
  <div class="card mt-3">
    <div class="card-body">
      <h3 class="card-title">Posts</h3>
      <p class="card-text">
        <% if flash[:notice].present? %>
        <div class="alert alert-warning" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
      </p>
      <% if user_signed_in? %>
        <%= render 'import_form' %>    
        <%= link_to 'Criar post', new_post_path, class: 'btn btn-success mt-3' %>    
      <% end %>
    </div>
  </div>  

  <% if @posts.any? %> 
    <% @posts.each do |post| %>
      <%= render 'ppost', post: post %>      
    <% end %>
  <% else %> 
    <p>Desculpe, ainda não há posts criados!<p>
  <% end %>

  <%= build_pagination @posts %> <!-- helper created -->
  
</div>