<h1>Todos os meus posts</h1><table>
<%= link_to 'Cadastrar novo post', new_post_path %>
 <tr>
  <th>Title</th>
  <th>Description</th>
 </tr>
 <% @posts.each do |post| %>
 <tr>
  <td><%= post.title %></td>
  <td><%= post.description %></td>
  <td><%= post.created_at %></td>
  <% if user_signed_in? %>
   <%= render 'action_buttons' %>
  <% end %>  
 </tr>
 <% end %>

</table>

<%= render 'paginate' %>